* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar_wrapper {
  background-color: #0F172A;
  position: fixed;
  left: 0;
  top: 0;
  width: 20%;
  height: 100vh;
}

.sidebar_container {
  text-align: center;
  display: block;
  align-content: center;
  height: 300px;
  color: #F9FAFB;
}
.sidebar_itemWrapper{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-top: .5rem;
}
.logo {
          height: 7rem;
    margin: .5rem;
    
}

.logo img{
    width: 100%;
    height: 100%;

}

.itemContainer{
     margin-left: 1rem;
  padding-left: 1rem;

  text-align: left;
}

.itemCat {
  color: #6B7280;
  position: relative;
  font-size: large;
  margin-bottom: .5rem;

}

.itemCat::before {
  content: "";
  position: absolute;
  width: 9rem;
  height: 1px;

  background-color: rgba(255, 255, 255, 0.3);
  bottom: 6px;
  left: 31%;

}

.itemCat::after {
  content: "";
  position: absolute;
  width: .9rem;
  height: 1px;

  background-color: rgba(255, 255, 255, 0.3);
  bottom: 6px;
  right: 102%;

}


.itemContainer>ul {
  list-style: none;
  padding: 0;
  margin-bottom: 1rem;


}
.itemContainer>ul>li{
    font-size: 1.1rem;
    margin-bottom: .2rem; 
}

.sidebarItem {
  text-decoration: none;
  color: white;
 
}

.activeLink {
  /* background-color:#D88B52; */
  color: #D88B52;
  padding: .2rem;
}