.card{
    background-color: #1F2937;
    border: 1px solid #374151;
    border-radius: 18px;
    padding: 20px;
    width: 260px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    transition: 0.3s ease;
}

.card:hover{
    transform: translateY(-3px);
}

.card_top{
    display: flex;
    align-items: center;
    gap: 12px;
}

.card_icon{
    width: 45px;
    height: 45px;
    border-radius: 12px;
    background-color: #D88B52;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.2rem;
}

.card_title{
    color: #F9FAFB;
    font-size: 1rem;
    font-weight: 600;
}

.card_middle h2{
    color: white;
    font-size: 2rem;
    font-weight: 700;
}

.card_bottom p{
    color: #10B981;
    font-size: 0.95rem;
}