/* COMMON */

.section_header{
    display: flex;

    justify-content: space-between;

    align-items: center;

    margin-bottom: 1.5rem;
}

.header_left{
    display: flex;

    flex-direction: column;

    gap: .3rem;
}

.header_left h3{
    color: #F9FAFB;

    margin: 0;
}

.header_left p{
    color: #9CA3AF;

    margin: 0;
}



/* ALLOCATION CHART */

.allocation_chart{
    background-color: #1F2937;

    border: 1px solid #374151;

    border-radius: 1rem;

    padding: 1.5rem;
}

.allocation_content{
    display: flex;

    align-items: center;

    justify-content: space-between;

    gap: 3rem;
}

.allocation_chart_placeholder{
    width: 18rem;

    height: 18rem;

    border-radius: 50%;

    border: 2px dashed #374151;

    display: flex;

    justify-content: center;

    align-items: center;

    color: #6B7280;
}

.allocation_legend{
    flex: 1;

    display: flex;

    flex-direction: column;

    gap: 1rem;
}

.legend_item{
    display: flex;

    justify-content: space-between;

    align-items: center;

    background-color: rgba(255,255,255,0.03);

    padding: 1rem;

    border-radius: .8rem;
}

.legend_left{
    display: flex;

    align-items: center;

    gap: .8rem;
}

.legend_left p{
    color: #D1D5DB;

    margin: 0;
}

.legend_item h5{
    color: #F9FAFB;

    margin: 0;
}

.legend_color{
    width: .9rem;

    height: .9rem;

    border-radius: 50%;
}

.stock_color{
    background-color: #10B981;
}

.fd_color{
    background-color: #3B82F6;
}

.gold_color{
    background-color: #F59E0B;
}

.mf_color{
    background-color: #8B5CF6;
}



/* PERFORMANCE ANALYTICS */

.performance_analytics{
    background-color: #1F2937;

    border: 1px solid #374151;

    border-radius: 1rem;

    padding: 1.5rem;
}

.analytics_cards{
    display: grid;

    grid-template-columns: repeat(3,1fr);

    gap: 1rem;

    margin-bottom: 1.5rem;
}

.analytics_card{
    background-color: rgba(255,255,255,0.03);

    padding: 1.2rem;

    border-radius: 1rem;
}

.analytics_card p{
    color: #9CA3AF;

    margin-bottom: .7rem;
}

.analytics_card h2{
    color: #F9FAFB;

    margin: 0;
}

.positive_text{
    color: #10B981 !important;
}

.negative_text{
    color: #EF4444 !important;
}

.analytics_chart_placeholder{
    height: 20rem;

    border-radius: 1rem;

    border: 2px dashed #374151;

    display: flex;

    justify-content: center;

    align-items: center;

    color: #6B7280;
}



/* INVESTMENT INSIGHTS */

.investment_insights{
    background-color: #1F2937;

    border: 1px solid #374151;

    border-radius: 1rem;

    padding: 1.5rem;
}

.insights_container{
    display: flex;

    flex-direction: column;

    gap: 1rem;
}

.insight_card{
    background-color: rgba(255,255,255,0.03);

    border-left: 4px solid #10B981;

    padding: 1rem 1.2rem;

    border-radius: .8rem;
}

.insight_card h4{
    color: #F9FAFB;

    margin-bottom: .5rem;
}

.insight_card p{
    color: #D1D5DB;

    margin: 0;
}